@using Microsoft.AspNetCore.Html
@model StudentCabinetViewModel

<div class="container d-flex justify-content-between">
    <partial model="@(new CabinetViewModel
                    {
                        Email = Model.Email,
                        FullName = Model.FullName,
                        PhotoUrl = Model.PhotoUrl,
                        IsEmailConfirmed = Model.IsEmailConfirmed,
                        Title = "Личный кабинет студента",
                        AdditionalInfoBody = new HtmlString($"<div><span class=\"text-start fw-bold \">Группа: {Model.GroupName}</span></div>"),
                    })"
             name="_CabinetPersonalInfo"/>
</div>
