<div class="container d-flex justify-content-between">
    <div class="d-flex flex-column gap-2">
        <header>
            <h1 class="text-center text-danger">Доступ запрещен</h1>
        </header>
    </div>
</div>

